.section {
  .container {
    position: relative;
    padding: 0 15px;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;

      .title {
        font-family: "Roboto";
        font-style: normal;
        font-size: 30px;
        line-height: 35px;
        color: #191919;
      }
      .link {
        border: 1px solid #dbdbdb;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        padding: 10px 20px;
        span,
        i {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          gap: 10px;

          color: #191919;
        }
        i {
          color: #3e73cf;
        }
      }
    }

    .row {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      * {
        margin-bottom: 0;
      }
      .item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%; /* Позволяет карточке занимать доступное пространство */

        border: 1px solid #ececec;
        border-radius: 10px;
        .img {
          border-radius: 10px 10px 0px 0px;
          width: 100%;
        }
        .content {
          padding: 30px;
          height: 100%;
          display: flex;
          flex-direction: column;
          height: 100%;

          .title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;

            color: #191919;
            padding-bottom: 41px;
          }

          .footer {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgba(#ececec, 0.5);
            padding-top: 20px;
            .avgPrice {
              display: flex;
              flex-direction: column;
            }
            .currentBid {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
