.case-border {
  border-radius: 10px;
  border: 1px solid #ececec;
}

.text-vehicle {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #3e73cf;
}
