.container {
  margin-top: 70px;
  margin-bottom: 35px;
  .details {
    padding: 40px;
    margin: 0 15px;
    border: 1px solid #ececec;
    border-radius: 10px;
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      /* or 178% */

      color: #191919;
    }
  }
}
